.contact-label {
  color: $third-color;
  font-size: 1.2rem;
}

.contact {
  input {
    height: 54px;
    border: 2px solid $placeholder-color;
    border-radius: 5px;
    padding-left: 4%;

    &::placeholder {
      color: $placeholder-color;
      font-size: 1.2rem;
    }

    &:focus {
      box-shadow: none;
      outline: 0 none !important;
      border: 2px solid $primary;
    }
  }

  textarea {
    border: 2px solid $placeholder-color;
    border-radius: 5px;

    &:focus {
      box-shadow: none;
      outline: 0 none !important;
      border: 2px solid $primary;
    }
  }
}

.btn-contact {
  color: white;
  background-color: $primary;
  font-size: 0.88rem;
  border-radius: 5px;
  height: 54px;
  width: 195px;

  &:hover {
    box-shadow: none;
    background-color: white;
    color: $primary !important;
    border: 1px solid $primary;
  }

  &:focus {
    box-shadow: none;
  }

  @include media-breakpoint-down(md) {
    width: 100% !important;
  }
}
