.new-discussion-date {
  color: $third-color;
  font-weight: 300;
}

.new-discussion-title {
  color: $third-color;
  font-size: 1.3rem;
}

.new-discussion-title-input {
  height: 3.13rem;
  border-radius: 5px;
  border: 2px solid $placeholder-color;

  &:focus {
    border: 2px solid $primary;
    box-shadow: none !important;
    outline: 0 none !important;
  }
}

.new-discussion-form {
  textarea {
    border: 2px solid $placeholder-color;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    &:focus {
      outline: 0 none !important;
      border: 2px solid $primary;
    }
  }
}

.start-new-discussion {
  color: $primary;
  font-size: 1.13rem;
  font-weight: 500;
}

.start-new-discussion-image {
  max-width: 60px;
}

.start-new-discussion-div {
  border-radius: 5px;
  border: 3px solid $primary;
}

.btn-default-block {
  @include media-breakpoint-down(sm) {
    width: 100% !important;
  }
}

.btn-reset-fields {
  font-size: 0.88rem;
}

.share-fb-icon {
  max-width: 14px;
}

.share-fb-text {
  color: $placeholder-color;
  font-weight: 300;
  font-size: 0.81rem;
  display:inline-block;
  vertical-align: middle;
  padding-top: 2px;

  &:hover {
    color: $secondary;
  }
}

.fb-share-div {
  padding-right: 37px;
}

.share-fb-link {
  &:hover {
    text-decoration: none;
  }
}

#order-by {
  &:focus {
    box-shadow: none;
    outline: 0 none !important;
    border: 2px solid $primary;
  }
}

.order-by-text {
  color: $third-color;
}

#discussions-search {
  background: none;
  border: 1px solid $placeholder-color;
  border-radius: 10px;
  height: 48px;
  background: url(svg/search.svg) no-repeat scroll 96% 50%;
  padding-left: 20px;

  &:focus {
    box-shadow: none;
    outline: 0 none !important;
    border: 2px solid $primary;
  }
}
