.pagination {
  a {
    border-radius: 5px !important;
    border: 1px solid $secondary;
    color: $secondary;
    font-weight: 700;
    margin: 0 5px;

    &:hover {
      border: 1px solid $secondary;
      color: $primary;
      background: white;
    }
  }

  .active {
    background-color: white;
    border: 1px solid $primary;
    color: $primary;
  }
}
