// Terms and Conditions
.terms-and-conditions {
  color: $third-color;
  font-size: 1.13rem;
  font-weight: 300;
}

// 404 Not Found
.not-found-heading {
  color: $primary;
  font-size: 3.13rem;
  font-weight: 700;
}

.not-found-subheading {
  color: $third-color;
  font-size: 1.56rem;
  font-weight: 500;
}

.not-found-image {
  max-width: 760px;
}
