// Colors
$body-bg: linear-gradient(180deg, #fcfcfc, #ffffff);
$primary: #ef4f4f;
$secondary: #353535;
$third-color: #575757;
$placeholder-color: #cfcfcf;
$active-link-border: #ff1313;
$card-link: #2382e5;
$subscriptions-bg: #f6f6f6;
$text-under-logo: #909090;
$legal-info: #c6c6c6;
$top-navbar-bg: #f4f4f4;
$facebook: #3B5998;
$twitter: #00acee;
$linkedin: #0e76ab;
$post-date: #8d8d8d;
$thumbs-up: #6ad054;
$thumbs-down:#ef4f4f;
$discusion-bg: #f8f9fa;
$login-remember-me: #8f8f8f;
$url-color: #2382e5;
$copyright-text: #cccccc;
$profile-email: #b4b4b4;
